@charset "UTF-8";

.text-red {
    color:red;
}

.text-blue {
    color:blue;
}

.text-grey {
    color:grey;
}
.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}
.form-control{
    margin: 5px;
}
.margin{
    margin: 5px;
}