<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="org.thymeleaf.extras:thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <title>main 페이지</title>
</head>
<body>
<div class="container t-c">
 <h1>메인페이지</h1>
<a sec:authorize="!isAuthenticated()" href="login">Login</a>
<a href="/join">회원가입</a>
<a sec:authorize="isAuthenticated()" href="logout">Logout</a>
</div>
</body>
</html>